<footer class="site-footer">
  <data href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <ul class="social">
    <li><a target="_blank" href="https://imdb.com/{{ site.imdb | escape }}"              ><img src="/assets/img/social/imdb.svg">    </a></li>
    <li><a target="_blank" href="https://vimeo.com/{{ site.vimeo | escape }}"            ><img src="/assets/img/social/vimeo.svg">   </a></li>
    <li><a target="_blank" href="https://instagram.com/{{ site.instagram | escape }}"    ><img src="/assets/img/social/insta.svg">   </a></li>
    <li><a target="_blank" href="https://behance.net/{{ site.behance | escape }}"        ><img src="/assets/img/social/behance.svg"> </a></li>
    </ul>

  </div>

</footer>
